div {
    border: 1px solid black;
}

p {
    float: left;
    border: 1px solid gray;
    margin: 5px;
    padding: 2px;
    background-color: yellow;
}

#header                 { position: absolute;  left: 3%;    width: 92%;  top: 3%;   height: 6%;   }
#key_partners           { position: absolute;  left: 3%;    width: 17%;  top: 11%;  height: 67%;  }
#key_activities         { position: absolute;  left: 21%;   width: 18%;  top: 11%;  height: 33%;  }
#key_resources          { position: absolute;  left: 21%;   width: 18%;  top: 45%;  height: 33%;  }
#value_propositions     { position: absolute;  left: 40%;   width: 19%;  top: 11%;  height: 67%;  }
#customer_relationships { position: absolute;  left: 60%;   width: 18%;  top: 11%;  height: 33%;  }
#channels               { position: absolute;  left: 60%;   width: 18%;  top: 45%;  height: 33%;  }
#customer_segments      { position: absolute;  left: 79%;   width: 18%;  top: 11%;  height: 67%;  }
#cost_structure         { position: absolute;  left: 3%;    width: 46%;  top: 79%;  height: 18%;  }
#revenue_streams        { position: absolute;  left: 50%;   width: 47%;  top: 79%;  height: 18%;  }

#header:before                 { content: "The Business Model Canvas";              padding: 0px 5px; font-size: 150%; font-weight: bold; color: darkblue; }
#key_partners:before           { content: "Key Partners";           display: block; padding: 0px 5px; font-size: 120%; font-weight: bold; color: darkblue; }
#key_activities:before         { content: "Key Activities";         display: block; padding: 0px 5px; font-size: 120%; font-weight: bold; color: darkblue; }
#key_resources:before          { content: "Key Resources";          display: block; padding: 0px 5px; font-size: 120%; font-weight: bold; color: darkblue; }
#value_propositions:before     { content: "Value Propositions";     display: block; padding: 0px 5px; font-size: 120%; font-weight: bold; color: darkblue; }
#customer_relationships:before { content: "Customer Relationships"; display: block; padding: 0px 5px; font-size: 120%; font-weight: bold; color: darkblue; }
#channels:before               { content: "Channels";               display: block; padding: 0px 5px; font-size: 120%; font-weight: bold; color: darkblue; }
#customer_segments:before      { content: "Customer Segments";      display: block; padding: 0px 5px; font-size: 120%; font-weight: bold; color: darkblue; }
#cost_structure:before         { content: "Cost Structure";         display: block; padding: 0px 5px; font-size: 120%; font-weight: bold; color: darkblue; }
#revenue_streams:before        { content: "Revenue Streams";        display: block; padding: 0px 5px; font-size: 120%; font-weight: bold; color: darkblue; }

